/*C칩digos universales de la p치gina*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*C칩digo opcional - Fondo de p치gina*/
body{
    width: 100%;
    height: 100%;
    background: transparent;
    background-size: 100vw 100vh;
}

body, .modal{
    width: 100%;
    height: 100%;
    /*height: 100vh;*/
    display: flex;    
    justify-content: center;
    align-items: center;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 500 ms ease;
    color:#fff;
    opacity: 0;
    visibility: hidden;
    /*justify-content: center;
    align-items: center;*/
}

#btn-modal:checked ~ .modal{
    opacity: 1;
    visibility: visible;
}

.contenedor{
    width: 400px;
    height: 300ppx;
    margin: auto;
    background: #fff;
    box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
    transition: all 500ms ease;
    position: relative;
    transform: translateY(-30%);
}

#btn-modal:checked ~ .modal .contenedor{
    transform: translateY(0%);
}

.contenedor header{
    padding: 10px;
    background: purple;
    color: #fff;
}

.contenedor label{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

#btn-modal{
    display: none;
}

.lbl-modal{
    background: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

p{
    color: black;
}